{% extends "index.html" %}

{% block content %}
<div class="container">

   <h1 class="my-4">
       {{ movie.title }}
   </h1>


   <div class="row">
     <div class="col-md-8">
        <img src="{{ tmdb_image_url(movie.poster_path, "w780") }}" style="width: 100%; height: 100%;">
     </div>
     <div class="col-md-4">
         <h3>{{ movie.tagline }}</h3>
       <p>
           {{ movie.overview}}
       </p>
       <dl>
           <dt>Budget</dt>
           <dd>{{ movie.budget }}</dd>
           <dt>Genre</dt>
           <dd>{% for genre in movie.genres %}{{ genre.name }}, {% endfor %}</dd>
         </dl>
     </div>
   </div>
    <h3 class="my-4">Cast</h3>
   <div class="row">
    {% for actor in cast %}
    <div class="p-4" style="width: 200px">
        <div class="card">
        {% if actor.profile_path %}
         <img src="{{ tmdb_image_url(actor.profile_path, "w185") }}" style="width: 100%; height: 100%;" alt="{{ actor.name }}"">
         {% else %}
         <img src="https://placehold.it/185x278?text={{ actor.name }}" style="width: 100%; height: 100%;" alt="{{ actor.name }}">
         {% endif %}
             <div class="card-body">
                 <h5 class="card-title">{{ actor.name }}</h5>
             </div>
       </div>
    </div>
    {% endfor %}
 </div>
</div>
{% endblock %}










